@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root{
  --fuente-titulo:"Asap Condensed";
  --fuente-texto: "Roboto";
  --color-texto:  #99a3a4 ;
  --color-texto-mod-dark:  #cacfd2;
  --background-main:  #5f6a6a;
  --background-body: #566573;
  --background-header: #212f3c ;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--background-body);
  color: var(--color-texto);
  font-family: var(--fuente-texto);
  padding: 1rem 0;
}
.encabezado{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--background-header);
  border-radius: 10px;
  margin-bottom: 15px;
}
.encabezado-titulo h1{
  font-family: var(--fuente-titulo);
  font-weight: 700;
}
.encabezado-icon i{
  cursor: pointer;
  padding: .5rem;
  border-radius: 50%;
}
.encabezado-icon i:hover{
  background-color: var(--color-texto-mod-dark);
}
/* principal container */
.principal-container{
  width: 90%;
  height: 490px;
  margin: 0 auto;
  background-color: var(--background-main);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.tableros{
  width: 25%;
  height: 455px;
  background-color: var(--background-header);
  border-radius: 10px;
  padding: 1rem;
}
.tablero-add{
  width: 100%;
  display: flex;
  padding: .6rem;
  align-items: center;
  gap: 10px;
  background-color: var(--background-body);
  border-radius: 10px;
}
.tablero-add:hover{
  background-color: var(--background-main);
  cursor: pointer;
}
.listas{
  width: 74%;
  height: 455px;
  background-color: var(--background-header);
  border-radius: 10px;
  padding: 1rem;
}
.lista-add{
  width: 280px;
  display: flex;
  padding: .6rem;
  align-items: center;
  gap: 10px;
  background-color: var(--background-body);
  border-radius: 10px;
}
.no-mostrar{
  display: none;
}




